[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "dotbot-brew"]
	path = dotbot-brew
	url = https://github.com/d12frosted/dotbot-brew.git
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url =  https://github.com/robbyrussell/oh-my-zsh
[submodule "oh-my-zsh/custom/plugins/zsh-completions"]
	path = oh-my-zsh/custom/plugins/zsh-completions
	url = https://github.com/zsh-users/zsh-completions
[submodule "oh-my-zsh/custom/plugins/zsh-you-should-use"]
	path = oh-my-zsh/custom/plugins/zsh-you-should-use
	url = https://github.com/MichaelAquilina/zsh-you-should-use
[submodule "oh-my-zsh/custom/plugins/zsh-syntax-highlighting"]
	path = oh-my-zsh/custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule "oh-my-zsh/custom/plugins/zsh-autocomplete"]
	path = oh-my-zsh/custom/plugins/zsh-autocomplete
	url = https://github.com/marlonrichert/zsh-autocomplete
[submodule "oh-my-zsh/custom/plugins/almostontop"]
	path = oh-my-zsh/custom/plugins/almostontop
	url = https://github.com/Valiev/almostontop
[submodule "oh-my-zsh/custom/plugins/zsh-lsd"]
	path = oh-my-zsh/custom/plugins/zsh-lsd
	url = https://github.com/z-shell/zsh-lsd
[submodule "oh-my-zsh/custom/plugins/autoenv"]
	path = oh-my-zsh/custom/plugins/autoenv
	url = https://github.com/zpm-zsh/autoenv
[submodule "oh-my-zsh/custom/plugins/k"]
	path = oh-my-zsh/custom/plugins/k
	url = https://github.com/supercrabtree/k
[submodule "oh-my-zsh/custom/plugins/zsh-dircolors-solarized"]
	path = oh-my-zsh/custom/plugins/zsh-dircolors-solarized
	url = https://github.com/joel-porquet/zsh-dircolors-solarized
[submodule "oh-my-zsh/custom/plugins/git-trim"]
	path = oh-my-zsh/custom/plugins/git-trim
	url = https://github.com/jasonmccreary/git-trim
[submodule "oh-my-zsh/custom/plugins/alias-tips"]
	path = oh-my-zsh/custom/plugins/alias-tips
	url = https://github.com/djui/alias-tips
[submodule "oh-my-zsh/custom/plugins/zsh-colored-man-pages"]
	path = oh-my-zsh/custom/plugins/zsh-colored-man-pages
	url = https://github.com/ael-code/zsh-colored-man-pages.git	
[submodule "oh-my-zsh/custom/themes/powerlevel10k"]
	path = oh-my-zsh/custom/themes/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule "fonts/monaco-nerd-fonts"]
	path = fonts/monaco-nerd-fonts
	url = https://github.com/Karmenzind/monaco-nerd-fonts
